.dashboard {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 120px;
  line-height: 1.4;
}

.main-panels {
  display: flex;
  justify-content: center;
  gap: 450px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.right-panel {
  flex: 1;
  max-width: 432px;
  height: 453px;
  display: flex;
  justify-content: center;
}